[Unit]
Description=Robot Stream Launcher
After=multi-user.target sortcams.target streamcam.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=nvidia
Group=nvidia
WorkingDirectory=/home/nvidia/6829/vision/python/
ExecStart=/usr/bin/python3 /home/nvidia/6829/vision/python/gst_Launcher.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target