[Unit]
Description=Robot Vision
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStartPre=/home/josh/vision/sortcams.sh
ExecStart=/usr/bin/python3 /home/josh/vision/main.py
StandardInput=tty-force
Restart=on-failure

[Install]
WantedBy=multi-user.target