[Unit]
Description=Robot Vision Tracking
After=multi-user.target sortcams.target vision_config.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=nvidia
Group=nvidia
WorkingDirectory=/home/nvidia/6829/vision/python/
ExecStart=/usr/bin/python3 /home/nvidia/6829/vision/python/target_distance.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vision
Restart=on-failure

[Install]
WantedBy=multi-user.target